<a href="#"><span class="icon icon-menu">hide sidebar</span></a>
<a href="#drawer"><span class="icon icon-menu">show sidebar</span></a>
<menu type="toolbar">
    <button id="search-button"><span class="icon icon-search">edit</span></button>
</menu>
<form action="#">
    <input id="start-input" type="text" required="required" placeholder="From">
<!--    <button type="reset">Remove text</button>-->
    <input id="end-input" type="text" required="required" placeholder="To">
<!--    <button type="reset">Remove text</button>-->
</form>
